<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalculatorWords</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CalculatorWords.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="relative flex flex-wrap items-center content-between py-3 px-4  navbar-toggleable-sm text-black bg-white border-b box-shadow mb-3">
            <div class="container mx-auto sm:px-4">
                <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" asp-area="" asp-page="/Index">CalculatorWords</a>
                <button class="py-1 px-2 text-md leading-normal bg-transparent border border-transparent rounded" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="px-5 py-1 border border-gray-600 rounded"></span>
                </button>
                <div class="flex-grow items-center hidden sm:inline-flex justify-between">
                    <ul class="flex flex-wrap list-reset pl-0 mb-0 flex-grow-1">
                        <li class="">
                            <a class="inline-block py-2 px-4 no-underline text-gray-900" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto sm:px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t footer text-gray-700">
        <div class="container mx-auto sm:px-4">
            &copy; 2023 - CalculatorWords - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>